extends base
block content
	// content
	- if(user.role == 'admin')
		section.section(style='margin-bottom:-29px;')
		section.content
			.content__head
				.container
					.row
						.col-12
							// content title
							h2.content__title= `Hello, ${user.name}`
							// end content title
							// content tabs nav
							ul#content__tabs.nav.nav-tabs.content__tabs(role='tablist')
								li.nav-item
									a.nav-link.active(data-toggle='tab' href='#tab-1' role='tab' aria-controls='tab-1' aria-selected='true') Settings
								li.nav-item
									a.nav-link(data-toggle='tab' href='#tab-2' role='tab' aria-controls='tab-2' aria-selected='false') Add Movies
								li.nav-item
									a.nav-link(data-toggle='tab' href='#tab-3' role='tab' aria-controls='tab-3' aria-selected='false') Manage Movies
								li.nav-item
									a.nav-link(data-toggle='tab' href='#tab-4' role='tab' aria-controls='tab-4' aria-selected='false') Manage Reviews
								li.nav-item
									a.nav-link(data-toggle='tab' href='#tab-5' role='tab' aria-controls='tab-5' aria-selected='false') Manage Users
								li.nav-item
									a.nav-link(data-toggle='tab' href='#tab-6' role='tab' aria-controls='tab-6' aria-selected='false') Update Password
							// end content tabs nav
							// content mobile tabs nav
							#content__mobile-tabs.content__mobile-tabs
								#mobile-tabs.content__mobile-tabs-btn.dropdown-toggle(role='navigation' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
									input(type='button' value='Comments')
									span
								.content__mobile-tabs-menu.dropdown-menu(aria-labelledby='mobile-tabs')
									ul.nav.nav-tabs(role='tablist')
										li.nav-item
											a#1-tab.nav-link.active(data-toggle='tab' href='#tab-1' role='tab' aria-controls='tab-1' aria-selected='true') Settings
										li.nav-item
											a#2-tab.nav-link(data-toggle='tab' href='#tab-2' role='tab' aria-controls='tab-2' aria-selected='false') Add Movies
										li.nav-item
											a#3-tab.nav-link(data-toggle='tab' href='#tab-3' role='tab' aria-controls='tab-3' aria-selected='false') Manage Movies
										li.nav-item
											a#4-tab.nav-link(data-toggle='tab' href='#tab-4' role='tab' aria-controls='tab-4' aria-selected='false') Manage Reviews
										li.nav-item
											a#5-tab.nav-link(data-toggle='tab' href='#tab-5' role='tab' aria-controls='tab-5' aria-selected='false') Manage Users
										li.nav-item
											a#6-tab.nav-link(data-toggle='tab' href='#tab-6' role='tab' aria-controls='tab-6' aria-selected='false') Update Password
							// end content mobile tabs nav
			.container
				.row
					.col-12.col-lg-8.col-xl-8
						// content tabs
						#myTabContent.tab-content
							// tab1
							#tab-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='1-tab')
								.row
									// update email name photo
									.col-12
										.reviews
											label.form__Heading Account Details
											form.form(action='#')
												input.form__input(type='text' placeholder='Name' value=`${user.name}`)
												input.form__input(type='text' placeholder='Email' value=`${user.email}`)
												button.form__btn(type='button') Update
										// file upload for user photo
										label.form__Heading Profile Picture
										form.form(action='#')
											// add multipart form
											img.nav__user-form(src=`/img/users/${user.profilePicture}`)
											input(type='file' accept='image/*')
											button.form__btn(type='button') Update
										.reviews
									// end email name photo
							// tab2
							#tab-2.tab-pane.fade(role='tabpanel' aria-labelledby='2-tab')
								.row
									.col-12
										.reviews
											label.form__Heading Search Movie from TMDb
											form.form(action='#')
												input#searchMovieName.form__input(type='text' placeholder='Enter Movie Name')
												input#searchMovieYear.form__input(type='text' placeholder='Enter Movie Year')
												button#open.form__btn(type='button') Search
										#modal-container.modal-container-search
											.form-search.search-top-padding
												.catalog
													.container
														#found-cards.col
															// card
															.col-6.col-sm-12.col-lg-6
																.card
																	.row
																		.col-12.col-sm-4
																			.card__cover
																				img(src='img/covers/cover.jpg' alt='')
																				a.card__play(href='#')
																					i.icon.ion-ios-play
																		.col-12.col-sm-8
																			.card__content
																				h3.card__title
																					a(href='#')
																						| I Dream
																						| in
																						| Another
																						| Language
																				span.card__category
																					a(href='#') Action
																					a(href='#') Triler
																				.card__wrap
																					span.card__rate
																						i.icon.ion-ios-star
																						| 8.4
																					ul.card__list
																						li HD
																						li 16+
																				.comments__actions
																					button(type='button')
																						i.icon.ion-ios-document
																						| Select
																				// buttons here
															// end card
															// card
															.col-6.col-sm-12.col-lg-6
																.card
																	.row
																		.col-12.col-sm-4
																			.card__cover
																				img(src='img/covers/cover2.jpg' alt='')
																				a.card__play(href='#')
																					i.icon.ion-ios-play
																		.col-12.col-sm-8
																			.card__content
																				h3.card__title
																					a(href='#') Benched
																				span.card__category
																					a(href='#') Comedy
																				.card__wrap
																					span.card__rate
																						i.icon.ion-ios-star
																						| 7.1
																					ul.card__list
																						li HD
																						li 16+
																				.comments__actions
																					button(type='button')
																						i.icon.ion-ios-trash
																						| Delete
															// end card
															// card
															.col-6.col-sm-12.col-lg-6
																.card
																	.row
																		.col-12.col-sm-4
																			.card__cover
																				img(src='img/covers/cover2.jpg' alt='')
																				a.card__play(href='#')
																					i.icon.ion-ios-play
																		.col-12.col-sm-8
																			.card__content
																				h3.card__title
																					a(href='#') Benched
																				span.card__category
																					a(href='#') Comedy
																				.card__wrap
																					span.card__rate
																						i.icon.ion-ios-star
																						| 7.1
																					ul.card__list
																						li HD
																						li 16+
																				.comments__actions
																					button(type='button')
																						i.icon.ion-ios-trash
																						| Delete
															// end card
															// card
															.col-6.col-sm-12.col-lg-6
																.card
																	.row
																		.col-12.col-sm-4
																			.card__cover
																				img(src='img/covers/cover2.jpg' alt='')
																				a.card__play(href='#')
																					i.icon.ion-ios-play
																		.col-12.col-sm-8
																			.card__content
																				h3.card__title
																					a(href='#') Benched
																				span.card__category
																					a(href='#') Comedy
																				.card__wrap
																					span.card__rate
																						i.icon.ion-ios-star
																						| 7.1
																					ul.card__list
																						li HD
																						li 16+
																				.comments__actions
																					button(type='button')
																						i.icon.ion-ios-trash
																						| Delete
															// end card
													button#close.form__btn(type='button') close
										// Manually add movie data
										label.form__Heading Manually add Movie Data
										form.form(action='#')
											// add multipart form
											label.form__Heading Movie Name
											input#addMovName.form__input(type='text' placeholder='Movie Name')
											label.form__Heading Movie Length (in minutes)
											input#addMovLength.form__input(type='number' placeholder='Movie Length (in minutes)')
											label.form__Heading Movie Description
											textarea#addMovDesc.form__textarea(placeholder='Movie Description')
											label.form__Heading Poster
											input#addMovPosterLink.form__input(type='text' placeholder='Poster Link')
											label.form__Heading Year
											input#addMovReleaseYear.form__input(type='number' placeholder='Movie Release Year')
											label.form__Heading Movie File
											input(type='file' accept='video/*')
											br
											br
											label.form__Heading Trailer Link
											input.form__input(type='text' placeholder="Movie's Youtube Trailer Link")
											label.form__Heading Genre
											input#addMovGenre.form__input(type='text' placeholder='Genre (comma separated)')
											label.form__Heading Parental Guidance Rating
											input.form__input(type='text' placeholder='PG Rating')
											label.form__Heading Background Image
											input#addMovBackdrop.form__input(type='text' placeholder='Backdrop Image Link')
											label.form__Heading IMDb Rating
											.form__slider
												#slider__rating.form__slider-rating
												#form__slider-value.form__slider-value
											button.form__btn(type='button') Add Movie
									// end reviews
							// tab3
							#tab-3.tab-pane.fade(role='tabpanel' aria-labelledby='3-tab')
								.catalog
									.container
										.row
											each movie in movies
												// card
												.col-6.col-sm-12.col-lg-6
													.card.card--list
														.row
															.col-12.col-sm-4
																.card__cover
																	img(src=`${movie.poster}` alt=`${movie.name}`)
																	a.card__play(href='#')
																		i.icon.ion-ios-play
															.col-12.col-sm-8
																.card__content
																	h3.card__title
																		a(href='#')= `${movie.name}`
																	span.card__category
																		each genre in movie.genre
																			a(href='#')= `${genre}`
																	.card__wrap
																		span.card__rate
																			i.icon.ion-ios-star
																			| #{(Math.round(movie.ratings * 100) / 100).toFixed(1)}
																		ul.card__list
																			li HD
																			li= `${movie.pgRating}`
																	.comments__actions
																		button(type='button' onclick='openMovieEditModalWithData(this)' value= `${movie.id}`)
																			i.icon.ion-md-create
																			| Edit
																		button(type='button')
																			i.icon.ion-ios-trash
																			| Delete
																	// buttons here
												// end card
											
											// Update Modal Form
											#modal-container-edit.modal-container-search
												.form-edit
													.container
														.row
															// reviews
															.col-12
																// Manually add movie data
																label.form__Heading Update Movie Data
																form.form-edit(action='#')
																	// add multipart form
																	label.form__Heading Movie Name
																	input#editMovName.form__input(type='text' placeholder='Movie Name')
																	label.form__Heading Movie Length (in minutes)
																	input#editMovLength.form__input(type='number' placeholder='Movie Length (in minutes)')
																	label.form__Heading Movie Description
																	textarea#editMovDesc.form__textarea(placeholder='Movie Description')
																	label.form__Heading Poster
																	input#editMovPoster.form__input(type='text' placeholder='Poster Link')
																	label.form__Heading Year
																	input#editMovYear.form__input(type='number' placeholder='Movie Release Year')
																	label.form__Heading Movie File
																	input(type='file' accept='video/*')
																	br
																	br
																	label.form__Heading Trailer Link
																	input#editMovTrailer.form__input(type='text' placeholder="Movie's Youtube Trailer Link")
																	label.form__Heading Genre
																	input#editMovGenre.form__input(type='text' placeholder='Genre (comma separated)')
																	label.form__Heading Parental Guidance Rating
																	input#editMovPgRating.form__input(type='text' placeholder='PG Rating')
																	label.form__Heading Background Image
																	input#editMovBackdrop.form__input(type='text' placeholder='Backdrop Image Link')
																	label.form__Heading IMDb Rating
																	input#editMovRating.form__input(type='text' placeholder='IMDb Rating')
																	button.form__btn(type='button' value='') Update Movie
																	button#closeEdit.form__btn(type='button') Cancel
												// UPDATE Modal END
								
							// tab4
							#tab-4.tab-pane.fade(role='tabpanel' aria-labelledby='4-tab')
								.row
									// reviews
									.col-12
										.reviews
											ul.reviews__list
												each review in reviews
													//Review 
													li.reviews__item
														.reviews__autor
															img.reviews__avatar(src=`/img/users/${review.user.profilePicture}` alt=`${review.user.name}`)
															span.reviews__name #{review.reviewTitle}
															span.reviews__time
																| MOVIE: #{review.movie.name} || User: #{review.user.name}
																||| DATE: #{review.createdAt.toDateString()}
															span.reviews__rating
																i.icon.ion-ios-star
																| #{review.reviewRating}
														p.reviews__text
															| #{review.reviewContent}
														.comments__actions
															button(type='button')
																i.icon.ion-ios-trash
																| Delete
										// end reviews

							// tab5
							#tab-5.tab-pane.fade(role='tabpanel' aria-labelledby='5-tab')
								.row
									label.form__Heading Manage Users
									.form
										table.table.table-striped
											thead(style='border-bottom: 2px solid #fff ; padding-bottom:10px ;')
												tr
													th Name
													th Role
													th Subscription
													th Status
													th Action
											tbody
												// use loop here
												each user in users
													tr
														td #{user.name}
														td #{user.role}
														td #{user.subscription}
														td
															- if(user.active)
																	span.status.text-success &bull;
																	|  Active
															- else
																	span.status.text-warning &bull;
																	|  InActive													
														td
															button(title='Settings' value=`${user.id}` onclick='openUpdateUserModal(this)')
																i.icon.ion-md-create
															button(title='Delete')
																i.icon.ion-ios-trash
									// Update User Modal
									#modal-container-editUser.modal-container-search
										.form-edit
											.container
												.row
													// reviews
													.col-12
														label.form__Heading Update User Data
														form.form-edit(action='#')
															label.form__Heading Name
															input#editUserName.form__input(type='text' placeholder="User's Name")
															label.form__Heading Email
															input#editUserEmail.form__input(type='email' placeholder="User's Email")
															label.form__Heading Role
															select#editUserRole.form__input(name='role')
																option(value='admin') Admin
																option(value='user') User
															label.form__Heading Active
															select#editUserActive.form__input(name='active')
																option(value='true') True
																option(value='false') False
															label.form__Heading Subscription
															select#editUserSubscription.form__input(name='subscription')
																option(value='basic') Basic
																option(value='premium') Premium
																option(value='cinematic') Cinematic
															label.form__Heading Subscription Duration
															input#editUserSubscriptionEnd.form__input(type='datetime-local' placeholder='Subscription End Date')
															button.form__btn(type='button' value='') Update User
															button#closeUserModal.form__btn(type='button') Cancel
										// UPDATE Modal END
							// tab6
							#tab-6.tab-pane.fade(role='tabpanel' aria-labelledby='6-tab')
								.row
									// update password
									.col-12
										.reviews
											label.form__Heading Update Password
											form.form(action='#')
												input.form__input(type='text' placeholder='Old Password')
												input.form__input(type='text' placeholder='Re-Enter Old Password')
												input.form__input(type='text' placeholder='New Password')
												button.form__btn(type='button') Update

	- else
			section.section(style='margin-bottom:-29px;')
			section.content
				.content__head
					.container
						.row
							.col-12
								// content title
								h2.content__title Hello, #{user.name}
								// end content title
								// content tabs nav
								ul#content__tabs.nav.nav-tabs.content__tabs(role='tablist')
									li.nav-item
										a.nav-link.active(data-toggle='tab' href='#tab-1' role='tab' aria-controls='tab-1' aria-selected='true') Settings
									li.nav-item
										a.nav-link(data-toggle='tab' href='#tab-2' role='tab' aria-controls='tab-2' aria-selected='false') My Reviews
									li.nav-item
										a.nav-link(data-toggle='tab' href='#tab-3' role='tab' aria-controls='tab-3' aria-selected='false') Manage Watch Later
									li.nav-item
										a.nav-link(data-toggle='tab' href='#tab-4' role='tab' aria-controls='tab-4' aria-selected='false') Manage Subscription
									li.nav-item
										a.nav-link(data-toggle='tab' href='#tab-5' role='tab' aria-controls='tab-5' aria-selected='false') Update Password
								// end content tabs nav
								// content mobile tabs nav
								#content__mobile-tabs.content__mobile-tabs
									#mobile-tabs.content__mobile-tabs-btn.dropdown-toggle(role='navigation' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
										input(type='button' value='Comments')
										span
									.content__mobile-tabs-menu.dropdown-menu(aria-labelledby='mobile-tabs')
										ul.nav.nav-tabs(role='tablist')
											li.nav-item
												a#1-tab.nav-link.active(data-toggle='tab' href='#tab-1' role='tab' aria-controls='tab-1' aria-selected='true') Settings
											li.nav-item
												a#2-tab.nav-link(data-toggle='tab' href='#tab-2' role='tab' aria-controls='tab-2' aria-selected='false') Comments
											li.nav-item
												a#3-tab.nav-link(data-toggle='tab' href='#tab-3' role='tab' aria-controls='tab-3' aria-selected='false') WatchList
											li.nav-item
												a#4-tab.nav-link(data-toggle='tab' href='#tab-4' role='tab' aria-controls='tab-4' aria-selected='false')
													| Manage
													| Subscription
											li.nav-item
												a#5-tab.nav-link(data-toggle='tab' href='#tab-5' role='tab' aria-controls='tab-5' aria-selected='false') Update Password
								// end content mobile tabs nav
				.container
					.row
						.col-12.col-lg-8.col-xl-8
							// content tabs
							#myTabContent.tab-content
								// tab1
								#tab-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='1-tab')
									.row
										// update email name photo
										.col-12
											.reviews
												label.form__Heading Account Details
												form.form(action='#')
													input.form__input(type='text' placeholder='Name' value=`${user.name}`)
													input.form__input(type='text' placeholder='Email' value=`${user.email}`)
													button.form__btn(type='button') Update
											// file upload for user photo
											label.form__Heading Profile Picture
											form.form(action='#')
												// add multipart form
												img.nav__user-form(src=`/img/users/${user.profilePicture}`)
												input(type='file' accept='image/*')
												button.form__btn(type='button') Update
										// end email name photo
								// tab2
								#tab-2.tab-pane.fade(role='tabpanel' aria-labelledby='2-tab')
									.row
										// reviews
										.col-12
											.reviews
												ul.reviews__list
													each review in user.reviews
														li.reviews__item
															.reviews__autor
																img.reviews__avatar(src=`/img/users/${review.user.profilePicture}` alt='')
																span.reviews__name #{review.reviewTitle}
																span.reviews__time Movie:#{review.movie.name} || #{review.createdAt.toDateString()}
																span.reviews__rating
																	i.icon.ion-ios-star
																	| #{review.reviewRating}
															p.reviews__text= `${review.reviewContent}`
															.comments__actions
																button(type='button' value=`${review.id}` onclick='openReviewEditModal(this)')
																	i.icon.ion-ios-document
																	| Edit
																button(type='button')
																	i.icon.ion-ios-trash
																	| Delete
														// Review Modal Form
														#modal-container-updateReview.modal-container-search
															.form-edit
																form.form(action='#')
																	input#editRevTitle.form__input(type='text' placeholder='Title')
																	textarea#editRevContent.form__textarea(placeholder='Review')
																	input#editRevRating.form__input(type='text' placeholder='Rating')
																	button.form__btn(type='button') Update
																	button#closeEditReview.form__btn(type='button') close
										// end reviews
								// tab3
								#tab-3.tab-pane.fade(role='tabpanel' aria-labelledby='3-tab')
									// project gallery
									.catalog
										.container
											.row
												each list in user.watchList
													// card
													.col-6.col-sm-12.col-lg-6
														.card.card--list
															.row
																.col-12.col-sm-4
																	.card__cover
																		img(src=`${list.poster}` alt=`${list.name}`)
																		a.card__play(href=`/movie/${list.slug}`)
																			i.icon.ion-ios-play
																.col-12.col-sm-8
																	.card__content
																		h3.card__title
																			a(href=`/movie/${list.slug}`)= `${list.name}`
																		span.card__category
																			each genre in list.genre
																				a(href='#')= `${genre}`
																		.card__wrap
																			span.card__rate
																				i.icon.ion-ios-star
																				| #{(Math.round(list.ratings * 100) / 100).toFixed(1)}
																			ul.card__list
																				li HD
																				li 16+
																		.comments__actions
																			button(type='button')
																				i.icon.ion-ios-trash
																				| Remove from
																				| WatchLater
																		// buttons here
												// end card
												
								// tab4
								#tab-4.tab-pane.fade(role='tabpanel' aria-labelledby='4-tab')
									.row
										// reviews
										.col-12
											.reviews
												.form
													h3.form__Heading Current Subscription: #{user.subscription}
													h3.form__Heading Valid Till:  #{user.subscriptionDuration.toDateString()}
													h3.form__Heading Status: #{user.subscriptionDuration.getTime()>new Date().getTime()?'Active':'Expired'}
													- if( user.subscriptionDuration.getTime()<new Date().getTime())
															button.form__btn(type='button' onclick="window.location.href='/buy-subscription'") Buy Subscription 
										// end reviews
								// tab5
								#tab-5.tab-pane.fade(role='tabpanel' aria-labelledby='5-tab')
									.row
										// update password
										.col-12
											.reviews
												label.form__Heading Update Password
												form.form(action='#')
													input.form__input(type='text' placeholder='Old Password')
													input.form__input(type='text' placeholder='Re-Enter Old Password')
													input.form__input(type='text' placeholder='New Password')
													button.form__btn(type='button') Update