extends base
block content 
  // page title
  section.section.section--first.section--bg(data-bg='/img/section/section.jpg')
    .container
      .row
        .col-12
          .section__wrap
            // section title
            h2.section__title Catalog list
            // end section title
            // breadcrumb
            ul.breadcrumb
              li.breadcrumb__item
                a(href='#') Home
              li.breadcrumb__item.breadcrumb__item--active Catalog list
            // end breadcrumb
  // end page title
  // filter
  .filter
    .container
      .row
        .col-12
          .filter__content
            .filter__items
              // filter item
              #filter__genre.filter__item
                span.filter__item-label GENRE:
                #filter-genre.filter__item-btn.dropdown-toggle(role='navigation' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  input(type='button' value='Action/Adventure' id='genreName')
                  span
                ul.filter__item-menu.dropdown-menu.scrollbar-dropdown(aria-labelledby='filter-genre')
                  //- div(id='listOfGenre')
                  li select
                  li Action/Adventure
                  li Animals
                  li Animation
                  //- li Biography
                  //- li Comedy
                  //- li Cooking
                  //- li Dance
                  //- li Documentary
                  //- li Drama
                  //- li Education
                  //- li Entertainment
                  //- li Family
                  //- li Fantasy
                  //- li History
                  //- li Horror
                  //- li Independent
                  //- li International
                  //- li Kids
                  //- li Kids &amp; Family
                  //- li Medical
                  //- li Military/War
                  //- li Music
                  //- li Musical
                  //- li Mystery/Crime
                  //- li Nature
                  //- li Paranormal
                  //- li Politics
                  //- li Racing
                  //- li Romance
                  //- li Sci-Fi/Horror
                  //- li Science
                  //- li Science Fiction
                  //- li Science/Nature
                  //- li Spanish
                  //- li Travel
                  //- li Western
              // end filter item
              // filter item
              #filter__rate.filter__item
                span.filter__item-label IMBd:
                #filter-rate.filter__item-btn.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  .filter__range
                    #filter__imbd-start
                    #filter__imbd-end
                  span
                .filter__item-menu.filter__item-menu--range.dropdown-menu(aria-labelledby='filter-rate')
                  #filter__imbd
              // end filter item
              // filter item
              #filter__year.filter__item
                span.filter__item-label RELEASE YEAR:
                #filter-year.filter__item-btn.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  .filter__range
                    #filter__years-start
                    #filter__years-end
                  span
                .filter__item-menu.filter__item-menu--range.dropdown-menu(aria-labelledby='filter-year')
                  #filter__years
              // end filter item
            // filter btn
            button.filter__btn(type='button' id='apply') apply filter
            // end filter btn
  // end filter
  // catalog
  .catalog
    .container
      .row
        each movie in movies
          // card
          .col-6.col-sm-12.col-lg-6
            .card.card--list
              .row
                .col-12.col-sm-4
                  .card__cover
                    img(src=`${movie.poster}` alt=`${movie.name}`)
                    a.card__play(href=`/movie/${movie.slug}`)
                      i.icon.ion-ios-play
                .col-12.col-sm-8
                  .card__content
                    h3.card__title
                      a(href=`/movie/${movie.slug}`)= `${movie.name}`
                    span.card__category
                      each genre in movie.genre
                        a(href='#')= `${genre}`
                    .card__wrap
                      span.card__rate
                        i.icon.ion-ios-star
                        | #{(Math.round(movie.ratings * 100) / 100).toFixed(1)}
                      ul.card__list
                        li HD
                        li= `${movie.pgRating}`
                    .card__description
                      p
                        | #{movie.description}
          // end card
        // paginator
        .col-12
          ul.paginator.paginator--list
            li.paginator__item.paginator__item--prev
              a(href='#')
                i.icon.ion-ios-arrow-back
            li.paginator__item
              a(href='#') 1
            li.paginator__item.paginator__item--active
              a(href='#') 2
            li.paginator__item
              a(href='#') 3
            li.paginator__item
              a(href='#') 4
            li.paginator__item.paginator__item--next
              a(href='#')
                i.icon.ion-ios-arrow-forward
        // end paginator
  // end catalog
  script.
    document.getElementById("apply").addEventListener('click', async () => {
      // get all fields
      const genre = document.getElementById('genreName').value;
      const ratingLow = document.getElementById('filter__years-start').value;
      const ratingHigh = document.getElementById('filter__years-end').value;
      const year = document.getElementById('');
      //- create a link with data to make api request api
      const apiLink = `/api/v1/movie?ratings[gte]=${ratingLow}&ratings[lte]=${ratingHigh}&year[eq]=${year}&genre=${genre}`;
    });


